* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-y: hidden;
}

.home-container {
  display: flex;
  justify-content: space-between;
}

.sidebar {
  flex: 1;
  max-width: 200px;
}

.feed {
  flex: 2;
  margin: 20px 20px;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.feed:hover {
  /* For Firefox */
  scrollbar-color: #888 #f2f2f2; /* show scrollbar when hovering */
}

/* For Webkit browsers */
.feed::-webkit-scrollbar {
  width: 2px;
}

.feed::-webkit-scrollbar-track {
  background: #f2f2f2;
}

.feed::-webkit-scrollbar-thumb {
  background-color: transparent; /* make scrollbar transparent */
}

.feed:hover::-webkit-scrollbar-thumb {
  background-color: #888; /* show scrollbar when hovering */
}

.rightbar {
  flex: 1;
  max-width: 200px; /* adjust as needed */
  overflow-y: auto;
}

@media (max-width: 700px) {
  .home-container {
    flex-direction: column;
  }
  .sidebar,
  .rightbar {
    max-width: 100%;
    height: auto;
  }
  .feed {
    margin: 20px 0;
    padding: 0 20px;
  }
}
