.post-input {
  display: flex;
  flex-direction: column;
  background-color: #333;
  color: #ddd;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  max-width: 500px;
}

.share-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.share-profile-img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  object-fit: cover;
  margin-right: 10px;
}

.share-input-text {
  flex-grow: 1;
  padding: 10px;
  border-radius: 10px;
  min-width: 300px;
  margin-top: 15px;
  margin-bottom: 5px;
  border: none;
  font-size: 1rem;
  background-color: #555; /* dark input field */
  color: #ddd; /* light text for contrast */
}

.post-actions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;
}

.post-actions div {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.post-actions div:hover {
  color: #fff; /* slightly lighter text on hover */
}

.post-actions div span {
  margin-left: 5px;
  font-size: 1.4rem;
}

.post-actions div label {
  margin-left: 5px;
  font-size: 1.4rem;
  cursor: pointer;
  display: flex;
  gap: 5px;
}

.submit-btn {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #555; /* dark button */
  color: #ddd; /* light text for contrast */
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 50%;
  font-size: 1.2rem;
  font-weight: bold;
}

.btn:hover {
  background-color: #777; /* slightly lighter button on hover */
}

.share-img-container {
  width: 100%;
  height: auto;
  position: relative;
}

.share-img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

.share-cancel-img {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

@media (max-width: 700px) {
  .post-actions div span {
    margin-left: 2px;
    font-size: 1rem;
  }

  .post-actions div label {
    margin-left: 5px;
    font-size: 1rem;
  }

  .post-actions {
    justify-content: space-around;
  }
  .btn {
    font-size: 1rem;
    font-weight: bold;
  }
}
