.profile-page-ultimate-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.personalPage-group {
  flex: 2;
  margin: 20px 20px;
  max-height: 100vh;
  display: flex;
  padding-bottom: 100px;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.profilePage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.users-profile-info {
  width: 100%;
  position: relative;
}

.cover-picture {
  width: 100%;
}

.cover-picture-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 400px;
}

.profile-picture-profile {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-picture-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  font-size: 2rem;
}

.user-name {
  font-size: 2.5rem;
  font-weight: bold;
}

.user-activity {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: #333;
  color: #ddd;
  padding: 20px;
  border-radius: 10px;
  margin-top: 10px;
}

.user-activity-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.users-profile-activity {
  background: #333;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;
  width: 60%;
}

.users-followers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: #333;
  color: #ddd;
}

.user-posts {
  flex: 1;
  margin: 0 20px;
  height: 100%;
  padding: 20px;
}

.users-basic-info {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.information {
  line-height: 25px;
  font-size: 1.3rem;
  background-color: #333;
  color: #ddd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 16px 6px rgba(0, 0, 0, 0.28);
}

.user-follower {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: #888;
  color: #333;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.follower-picture img {
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.follow-btn {
  background-color: #333; /* Green */
  border: none;
  color: #ddd;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  font-size: 1.5rem;
}

.follow-btn:hover {
  background-color: white;
  color: black;
}

.plus {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 10px;
}

.user-follower a {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
}

.follower-picture {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  overflow: hidden;
  border-radius: 50%;
}

.follower-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.follower-name {
  font-size: 1.2rem;
  font-weight: 500;
}

.edit-bio-btn {
  padding: 5px 10px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.bio-form {
  display: flex;
  align-items: center;
}

.bio-input {
  flex-grow: 1;
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

@media (max-width: 1200px) {
  .profile-picture-profile {
    width: 200px;
    height: 200px;
  }

  .user-info {
    font-size: 1.8rem;
  }

  .user-name {
    font-size: 2.2rem;
  }

  .profile-page-ultimate-container {
    overflow: auto;
  }
}

@media (max-width: 992px) {
  .profile-picture-profile {
    width: 150px;
    height: 150px;
  }

  .user-info {
    font-size: 1.6rem;
  }

  .user-name {
    font-size: 2rem;
  }

  .users-profile-activity {
    width: 80%;
  }

  .profile-page-ultimate-container {
    overflow: auto;
  }
}

@media (max-width: 768px) {
  .profile-picture-profile {
    width: 100px;
    height: 100px;
  }

  .user-info {
    font-size: 1.4rem;
  }

  .user-name {
    font-size: 1.8rem;
  }

  .users-profile-activity {
    width: 90%;
  }

  .profile-page-ultimate-container {
    overflow: auto;
  }
  .cover-picture-img {
    width: 100%;
    height: 20%;
    object-fit: cover;
  }
}

@media (max-width: 576px) {
  .profile-picture-profile {
    width: 80px;
    height: 80px;
  }

  .user-info {
    font-size: 1.2rem;
  }

  .user-name {
    font-size: 1.6rem;
  }

  .users-profile-activity {
    width: 90%;
  }

  .profile-page-ultimate-container {
    overflow: auto;
  }

  .profilePage-container {
    overflow: auto;
  }
}
