.timeline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 50px;
}

.post-container {
  display: flex;
  flex-direction: column;
  background-color: #333;
  color: #ddd;
  padding: 20px;
  min-width: 400px;
  border-radius: 10px;
  max-width: 700px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19),
    0px 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19),
    0px 6px 6px rgba(0, 0, 0, 0.23);
}

.user-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.author-details {
  display: flex;
  align-items: center;
}

.author-details img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  object-fit: cover;
  margin-right: 10px;
}

.post-date {
  margin-left: 20px;
}

.username {
  font-size: 1.4rem;
  font-weight: bold;
  margin-right: 10px;
}

.body {
  margin-bottom: 20px;
}

.body img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.body .post-content {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.post-interaction {
  display: flex;
  align-items: center;
  border-bottom: 1px dotted #555; /* dotted border */
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.rate,
.like {
  display: flex;
  align-items: center;
}

.post-interaction-icon,
.like-stats-icon,
.post-interaction-star,
.delete-post {
  margin-right: 5px;
  width: 30px;
}

.post-interaction-icon:hover {
  cursor: pointer;
}

.post-interaction-star:hover {
  cursor: not-allowed;
}

.like-stats {
  display: flex;
  align-items: center;
}

.comments {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.comments hr {
  width: 100%;
  margin-bottom: 10px;
  list-style: square;
}

.comment-action {
  padding: 10px;
  background-color: #555;
  border-radius: 5px;
  color: #ddd;
}

.comment {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
}

.comment-author {
  display: flex;
  align-items: center;
}

.comment-author-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment-username {
  font-weight: bold;
}

.comment-content {
  margin-top: 5px;
  padding: 5px;
  font-size: 1.2rem;
}

.send-comment {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #333;
  margin-right: 10px;
  color: #333;
}

.submit-comment {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #555;
  background-color: #333;
  color: #ddd;
  cursor: pointer;
}

.delete-comment {
  margin-left: auto;
  color: #555;
  cursor: pointer;
}

.delete-comment-btn,
.cancel-changes-btn,
.save-changes-btn,
.edit-post,
.delete-post {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #555;
  background-color: #333;
  color: #ddd;
  cursor: pointer;
  width: 60px;
  margin: 3px;
}

.edit-post-input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #333;
  margin-right: 10px;
  color: #333;
}

@media (max-width: 700px) {
  .timeline {
    width: 100%;
    padding-bottom: 50px;
  }
  .post-container {
    width: 100%;
    min-width: 200px;
    font-size: 0.9rem;
  }
  .post-content {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .delete-post,
  .edit-post {
    display: flex;
    padding: 5px;
    width: 50px;
    font-size: 1rem;
  }
  .post-content {
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
  .delete-post,
  .edit-post {
    display: flex;
    padding: 3px;
    width: 40px;
    font-size: 0.7rem;
  }

  .post-content {
    font-size: 1rem;
  }
}
